<%= javascript_pack_tag "hello_elm" %>
<%= javascript_pack_tag "countdown_timer" %>
<%= javascript_pack_tag "dice" %>

<h1>Home#elm</h1>
<p>Find me in app/views/home/elm.html.erb</p>



<div id="countdown-timer"></div>

<div id="dice"></div>
